<% results = experiment_step.scene_results %>

<div><%= t('experiments.possible_scenes') %>: <%= results[:scenes].pluck(:name).join(", ") %></div>
<div><%= t('experiments.number_possible_scenes') %>: <%= results[:scenes].length %></div>





