<% if experiment_step.step.scenes.empty? %>
<div>Ausschließlich Fragebogen</div>
<%= render :partial => 'questionaire_results', :locals => {:experiment_step => experiment_step} %>
<% elsif not(experiment_step.step.scenes.empty?) and not(experiment_step.step.has_questions?) %>
<div>Ausschließlich Szene</div>
<%= render :partial => 'scene_results', :locals => {:experiment_step => experiment_step} %>
<% else %>
<div>Szene und Fragen</div>
<%  end %>
