<% if experiment_step.step.is_a?(GroupedStep) %>
    <div><%= t('experiments.grouped_step')%></div>
<% else %>
    <%= render :partial => 'single_step_results', :locals => {:experiment_step => experiment_step} %>
<% end %>

