<% content_for :sidebar do %>
<%= render :partial => 'texts/static_warning' %>
<% end %>
<div style="margin-left:10%;margin-right:10%;margin-top:5%;">
<%= render :partial => 'participant_experiment_step_form' %>
</div>
