.metadata/
FreeMind_integration/
findbugs/
org.svis.source/
org.svis.test/
org.svis.tracer/
*/bin
org.svis.generator.test/output
*/model/*
*/xtend-gen/*
*/test-xtend-gen/*
*/src-gen/*
*.xml_gen
*famixrepo*
*famixrepo_error*
org.svis.generator.test/tmp/
org.svis.generator.tests/dbms/
*/target/*
**/generated-sources/*
*/.settings/*
*/output/*
!**/testdata/**/output/*
*/.gitignore
*/.launch/*
jwt/profile/profile.jar
.directory
/databases
/databases.old
dbms
/bin/
store_lock
**.log
neostore.transaction.db.**
*.xtextbin
*.xtendbin
test-xtend-gen/
