
#taskField {	
	width: 100%;
	height: 140px;
	padding-top: 0px;	
}

#taskFieldText{	
	position: absolute;
	left: 10px;
	right: 200px;
	line-height: 1;
	white-space: normal;	
	font-size: 15px;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0px;
	height: 140px;	
}

#taskSolvedButton{	
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 140px;	
}

#taskTable{
	border-spacing:0; 	border-collapse: collapse; 

	table-layout: auto; 
	border-collapse: collapse; 
	border-spacing: 0;
	padding: 0;
	margin: 0;
}