.helpPopupUl{
    font-size: 15px;
}

.helpPopupUl li img{
    width: 25px; 
    height:25px;
    margin-right:10px; 
    float: left;
}

.helpPopup_Ul_div{   
    float: left;
    margin-top: 5px;
}

.Ul_Navigation{  
    list-style-type: none;
    font-size: 15px;
}

.navigationLi{   
    padding:10px;
}

.navigationLi img{ 
    width:17px;
    height:30px;
    margin-right:10px;
}

.legend_City_Div{ 
    padding: 10px; 
    text-align: justify;
}

.legend_City_Div img{ 
    display: block;
    margin: 0 auto;
}

.legend_Div{ 
    padding: 10px; 
    text-align: justify;
}
.legend_Div img{ 
    display: block;
    margin: 0 auto;
}

.relationships_City_Div{ 
    margin-top:40px;
}

.relationships_City_Div img{ 
    display: block;
    margin: 0 auto;
}

.relationships_Div img{ 
    padding:20px;
     
}

.relationships_RD_Div {
    padding:10px;
}
.relationships_RD_Div img{
    display: block;
    margin: 0 auto;
}
