.helpPopupUl{
    font-size: 15px;
}

.helpPopupUl li img{
    width: 25px; 
    height:25px;
    margin-right:10px; 
    float: left;
}

.helpPopup_Ul_div{   
    float: left;
    margin-top: 5px;
}

.City_Legend h2{ 
    margin-left:10px;
}

.City_Legend img{ 
    width:52px;
    height:60px;
    float:left;
    margin-left:10px;
}

.City_Legend p{ 
    height:60px;
    margin-left:70px;
    margin-top:25px;
    text-align: justify;
}

.Cityori_Legend img{ 
    width:52px;
    height:60px;
    float:left;
    margin-left:10px;
}
.Cityori_Legend p{ 
    height:60px;
    margin-left:70px;
    margin-top:25px;
    text-align: justify;
}

.legend_Div{ 
    padding: 10px; 
    text-align: justify;
}

.legend_Div img{ 
    display: block;
    margin: 0 auto;
}

.City_Relationships{
    padding:10px;
}

.City_Relationships img{
    display: block;
    margin: 0 auto;
    border:2px solid black;
    width:328px; 
    margin-bottom: 30px;
}

.city_Navigation{ 
    padding:10px;
}

.city_Navigation img{ 
   width:17px;
    height:30px;
    float:left;
    margin-left:10px;
}

.city_Navigation p{ 
    height:30px;
    margin-left:45px;
    margin-top:5px;
    text-align: justify;
}
