.helpController.tabsUl{
    font-size: 15px;
}

.helpController.tabsUl li{
   text-align: center;
}

.helpController.tabsUl li img{
    width: 25px; 
    height:25px;
    margin-right:10px; 
    float: left;
}

.helpController.tabsUl_div{   
    float: left;
    margin-top: 5px;
}

.helpController.jqxTabs_Div{ 
    padding:10px;
}

.helpController.legend_Div{ 
    text-align: justify;
}

.helpController.legend_Div img{ 
    display: block;
    margin: 0 auto;
}

.helpController.legend_Describe img{ 
    width:52px;
    height:60px;
    float:left;
    margin-left:10px;
}

.helpController.legend_Describe p{ 
    height:60px;
    margin-left:70px;
    margin-top:25px;
    text-align: justify;
}

.helpController.bricks_Describe img{ 
    width:52px;
    height:60px;
    float:left;
    margin-left:10px;
}

.helpController.bricks_Describe p{ 
    height:60px;
    margin-left:70px;
    padding-top:20px;
    text-align: justify;
}

.helpController.legend_Represent{ 
    font-weight: bold;
} 

.helpController.relationships_Div img{
    display: block;
    margin: 0 auto;
    border:2px solid black;
    width:328px; 
    margin-bottom: 30px;
}

.helpController.navigation_Describe img{ 
    width:17px;
    height:30px;
    float:left;
    margin-left:10px;
}

.helpController.navigation_Describe p{ 
    height:30px;
    margin-left:45px;
    padding-top:5px;
    text-align: justify;
}
