#tooltip {
    display: none;
    z-index: 1;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFFFFF;
    color: #767676;
    opacity: 0.9;
    border-style: solid;
    border-width: thin;
    border-color: #17a0fa;
    -moz-box-shadow: 0 0 2.5px #17a0fa;
    -webkit-box-shadow: 0 0 2.5px #17a0fa;
    box-shadow: 0 0 2.5px #767676;
}


#tooltipName {
    font-size: 12.5px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}