<li><%= link_to t(:privacy_declaration, scope: :layout), "http://home.uni-leipzig.de/svis/privacy-policy/", target: :_blank %></li>
<li><%= link_to t(:imprint, scope: :layout), "http://home.uni-leipzig.de/svis/impressum/", target: :_blank %></li>

	 