<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>Getaviz Generator</servlet-name>
        <servlet-class>org.getaviz.generator.GeneratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Getaviz Generator</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app> 
