#metricDropDown {
    float: left;
}

.metricParameter {
    float: left;
    display: none;
}



#mappings {
    clear: left;
}

#mappingDropDown {
    float: left;
}

.mappingParameter {
    float: left;
    display: none;
}

#executeButton {
    clear: left;
    float: left;
}

#resetButton {
    float: left;
}