html, body {
    font-family: 'Segoe UI';
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    overflow: auto;
}

div{
    margin: auto;
}

h1 {
    text-align: center;
}