html, body, #text {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

div[role="radio"]{
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

a {
    color: #767676;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item-left {
    text-align: right;
    line-height: 24px;
    width: 60px;
}

.grid-item-right {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    line-height: 20px;
}

.jqx-expander-content
{
    height: 100% !important;
    font-family: 'Open Sans', sans-serif !important;
}

.jqx-expander-header-content {
    color: white;
}

.jqx-widget-metro {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}

#ui{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}

#canvas {
    float: left;
    width: 100%;
    height: 100%;
}
#x3dElement {
    width: 100%;
    height: 100%;
    border-style: none;
}

table {
    table-layout: fixed;
    width: 99%;
    font-size: 12px;
    white-space: nowrap;
}
td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#placeHolder{   
    margin: auto;
    width: 50%;
    padding: 400px;
    text-align: center;
}