#taskField {
	width: 100%;
	height: 140px;
	padding-top: 0px;
}

#taskFieldText {
	position: absolute;
	left: 0px;
	right: 300px;
	line-height: 1;
	white-space: normal;
	font-size: 15px;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 0px;
	padding: 10px;
	height: 125px;
}

#taskSolvedButton {
	position: absolute;
	top: 0px;
	right: 100px;
	width: 200px;
	height: 125px;
}

#backButton {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 125px;
}

#taskTable {
	border-spacing: 0;
	border-collapse: collapse;

	table-layout: auto;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}
