html, body, #text {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

div[role="radio"]{
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

a {
    color: #767676;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.grid-item-left {
    text-align: right;
    line-height: 24px;
    width: 80px;
}

.grid-item-right {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    line-height: 20px;
}

.formular-grid-item-left {
    text-align: right;
    line-height: 24px;
    width: 130px;
}

.formular-grid-item-right {
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    line-height: 20px;
    margin-right: 5px;
}

.formular-grid-item-right select {
    width: 100%;
}

.metricAnimationGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.select-wrapper-level1{
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.select-wrapper-level2 {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.select-wrapper-level2 select {
    padding: 10px;
    margin: -5px -20px -5px -5px;
}

.jqx-expander-content
{
    font-family: 'Open Sans', sans-serif !important;
}

.jqx-expander-header-content {
    color: white;
}

.jqx-widget-metro {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}

#ui{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

h4 {
    margin-left: 25px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

div {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}

#canvas {
    float: left;
    width: 100%;
    height: 100%;
}
#x3dElement {
    width: 100%;
    height: 100%;
    border-style: none;
}

table {
    table-layout: fixed;
    width: 99%;
    font-size: 12px;
    white-space: nowrap;
}
td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#placeHolder{
    margin: auto;
    width: 50%;
    padding: 400px;
    text-align: center;
}

/* Neo4j spinner */
#load-spinner-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    outline: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
}
#load-spinner-bg.hidden {
    display: none;
}

.load-spinner-body {
    padding: 10px;
    outline:rgba(0, 0, 0, 0.8);
    background: aliceblue;
}

.loader {
    color: #000;
    font-size: 40px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 40px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
5%,
95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
10%,
59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
}
20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
}
38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
}
100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
}
@keyframes load6 {
0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
5%,
95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
10%,
59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
}
20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
}
38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
}
100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
}
@-webkit-keyframes round {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes round {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}